@import "node_modules/material-ui/src/less/scaffolding.less";

//@import "custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";
@import "src/less/countdown.less";
@import "src/less/time-picker.less";

#main {
    font-family: @contentFontFamily;
    height: 100%;
    width: 100%;
}

.time-picker-container {
    padding-top: 4em;
}
